OPENAI_BASE_URL="https://api.siliconflow.cn/v1"
OPENAI_API_KEY="your_api_key_here"
HF_TOKEN="" //should have the permission to the gaia dataset, you can get it from https://huggingface.co/datasets/gaia